$yellow: #fffa19;
$red: #ff0000;
$green: #15ff00;

@mixin  margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.navbar{
    background:$yellow;
}
.bread {
    @include margenes(0,2.5rem );
    background: $gris;
    width: 750px;
}