.navbar{
    background: rgb(0, 68, 255);
}
.main {
    margin-top: 5rem;
}
.bread {
    margin: 0 0 0 2.5rem;
    background: rgb(228, 228, 228);
    width: 750px;
}
.img-card {
    width: 200px;
    height: 200px;
}
.container_product{
    margin: 10rem 7rem;
    padding: 20px 10px;
}
.btn{
    border-radius: 0;
}
.card {
    width: 350px; 
}
.icon{
    margin: 0 8px;
}
.icon_footer{
    margin: 0.7rem 1rem 0.7rem 1.2rem;
    width: 25px;
    height: 25px;
    color:rgb(19, 19, 19);
}
.foot {
   
    bottom: 0;

}

.icon_footer_social{
    transition: transform 0.3s ease-out;
    transition-delay: 0s;
}

.icon_footer_social:hover{
    transform: translateX(10px);
}

.footer_link{
    color:rgb(19, 19, 19);
}
.container{
    margin-top: 8rem;
}

.form_contacto{
    width: 950px;
    margin: 0 auto;
    flex-wrap: nowrap;
}
.carousel{
    width: 852px;
    margin: 0 auto;
}

.produc-desc{
    display: flex;
    align-items: center;
    margin: 1.2rem 2rem;
}

.accordion{
    margin-left: 3rem;
    width:750px;
}
.carac{
    margin-left: 2rem;
}
.btn{
    margin-left: 1.2rem;
}

.collapse-bot{
    margin:1.5rem 1.5rem;
}
